
@{
    ViewData["Title"] = "Index";
}

<main id="main">
    <div class="head1">
        <div class="back-image">
            <img src="~/home/img/1920x600-desktop-e-tron-range-4069-stage.jpg" alt="">
        </div>
        <div class="container">
            <div class="img-text col-6-left">
                <h1>FIND YOUR RENT A CAR</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <form action="">
            <div class="cards">
                <div class="form col-6-right">
                    <h1>Search Car</h1>
                    <div class="mb-3 boot">
                        <label for="exampleInputEmail1" class="form-label">Pick up Location</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3 boot">
                        <label for="exampleInputEmail1" class="form-label">Drop up location </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3 boot">
                        <label for="exampleInputEmail1" class="form-label">Pick Date</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3 boot">
                        <label for="exampleInputEmail1" class="form-label">Drop date </label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <button type="button" class="btn btn-warning">Warning</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <!-- --------------------- -->
    <div class="container">
        <div class="our-text">
            <h1>OUR BEST <span><h1>Offer</h1></span></h1>
        </div>
        <div class="lorem-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu justo euismod rutrum. Quisque id enim ac tortor malesuada vestibulum non quis turpis. Ut eget ornare arcu. Suspendisse velit mi, pulvinar sed mauris eget, efficitur tempor ex.</p>
        </div>
        <div class="box-card col-12">
            <div class="icon col-4">
                <div class="item ">
                    <span><i class="fa-solid fa-car"></i></span><br>
                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div class="item ">
                    <span><i class="fa-solid fa-car"></i></span><br>
                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div class="item ">
                    <span><i class="fa-solid fa-car"></i></span><br>
                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
            </div>
            <div class="best-image col-4">
                <div class="our-image col-4">
                    <img src="~/home/img/featureCarImg.png" alt="">
                </div>
            </div>
            <div class="icon col-4">
                <div class="item ">
                    <span><i class="fa-solid fa-car"></i></span><br>
                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div class="item ">
                    <span><i class="fa-solid fa-car"></i></span><br>
                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
                <div class="item ">
                    <span><i class="fa-solid fa-car"></i></span><br>
                    <h2>Featured Luxury Cars</h2>
                    <p>Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------------------------- -->
    <div class="general">
        <div class="container">
            <div class="general-text">
                <h1>VEHICLE MODELS <span><h1>FOR RENT</h1></span></h1>
            </div>
        </div>
        <div class="container car-chooice">
            <div class="car-data col-lg-4">
                <div class="car-series">
                    <div class="car-box active" data-target="#tab1">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                    <div class="car-box" data-target="#tab2">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                    <div class="car-box" data-target="#tab3">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                    <div class="car-box" data-target="#tab4">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                    <div class="car-box" data-target="#tab5">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                    <div class="car-box" data-target="#tab6">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                    <div class="car-box" data-target="#tab7">
                        <a href=""><h2>BMW</h2><span><h3>3-SERIES</h3></span></a>
                    </div>
                </div>
            </div>
            <div class="car-img col-lg-4">
                <div class="car-imagess">
                    <img class="car1 active" id="tab1" src="~/home/img/car01.jpg" alt="">
                </div>
                <div class="car-imagess">
                    <img class="car1 " id="tab2" src="~/home/img/car02.jpg" alt="">
                </div>
                <div class="car-imagess">
                    <img class="car1 " id="tab3" src="~/home/img/car03.jpg" alt="">
                </div>
                <div class="car-imagess">
                    <img class="car1 " id="tab4" src="~/home/img/car04.jpg" alt="">
                </div>
                <div class="car-imagess">
                    <img class="car1 " id="tab5" src="~/home/img/car05.jpg" alt="">
                </div>
                <div class="car-imagess">
                    <img class="car1 " id="tab6" src="~/home/img/car06.jpg" alt="">
                </div>
                <div class="car-imagess">
                    <img class="car1 " id="tab7" src="~/home/img/car07.jpg" alt="">
                </div>
            </div>
            <div class="car-info vol-lg-4">
                <div class="container">
                    <div class="card-2">
                        <div class="table1">
                            <h4>$ 37.40</h4> <p>Rent Per Day</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Model</h4> <p>limousine</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Doors</h4> <p>4</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Seats</h4> <p>5</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Luggage</h4> <p>2 Suitcases / 2 Bags</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Transmission</h4> <p>Automatic</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Air conditioning</h4> <p>Yes</p>
                        </div>
                        <hr>
                        <div class="table1">
                            <h4>Minimum age</h4> <p>25 years</p>
                        </div>
                        <hr>
                        <button type="button" class="btn1 btn-primary">Primary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --------------------------------- -->
    <div class="web-map">
        <div class="container">
            <div class="map-select col-lg-6">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.7485018662105!2d49.81325711573289!3d40.37010057937063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dc397d94dc3%3A0x617bc46b47244c00!2sAzerbaijan%20Technical%20University!5e0!3m2!1sen!2s!4v1655132395232!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="form-control col-lg-6">
                <div class="form3">
                </div>
            </div>
        </div>
    </div>
</main>

